<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data['t5'][lang] }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    {% include 'header.html' %}
</header>

<nav class="menu">
    <a href="..">{{ data['m#'][lang] }}</a>
    <a href="../ministries">{{ data['m1'][lang] }}</a>
</nav>

<div class="content">
    <h2>{{ data['m-ldi'][lang] }}</h2>
    <p>{{ data['m-ldi-0'][lang] }}</p>

    <p><span>{{ data['m-ldi-1'][lang] }}</span><a href="./mldi/reg">{{ data['m-ldi-2'][lang] }}</a><span>{{ data['m-ldi-3'][lang] }}</span></p>

    <p><span>{{ data['m-ldi-4'][lang] }}</span><a href="/resource/basilvmak-qvag-molkiag-liqahg-alsvmak.pdf">{{ data['m-ldi-5'][lang] }}</a><span>{{ data['m-ldi-6'][lang] }}</span></p>
</div>

<footer>
    <p>&copy; 2025 Enkavak</p>
</footer>
</body>
</html>
