fieldset {
    background-color: #363642;
    border-radius: 12px;
    width: 40%;
    min-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
form {
    padding: 15px;
    gap: 25px;
}
form div,
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form .wrapper {
    display: flex;
    flex-direction: row;
}
form .wrapper div {
    margin: auto;
    max-width: 258px;
    margin-top: 0;
}
.submit-button {
    margin-left: auto;
    width: 125px;
    background-color: #d9a633;
    border: 2px solid #bf862d;
    border-radius: 5px;
    cursor: pointer;
}
form input:not(input[type="radio"]):not(input[type="checkbox"]),
form select {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #363642;
    color: #D7D7D7;
    width: 250px;
}
form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border-color: white;
}
form input[type="file"]::file-selector-button {
    background-color: #363642;
    border-radius: 5px;
    padding: .2em .4em;
    color: #D7D7D7;
    cursor: pointer;
}
form input[type="file"]::file-selector-button:hover {
    border-color: white;
}
form textarea {
    resize: none;
    border-radius: 5px;
    background-color: #363642;
    color: #D7D7D7;
    width: 250px;
}

form hr {
    width: 70%;
}

form a,
legend a {
    text-decoration: none;
    color: #d6d6d6;
}
form a:hover,
legend a:hover {
    color: white;
}
form .wrapper .sel {
    flex-direction: row;
    margin-left: 0;
}
.hover {
    position: relative;
}
.hover > .info {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 350px;
    border: 1px solid #121212;
    background-color: #303036;
    padding: 5px;
    color: #D7D7D7;
}
.hover:hover > .info {
    display: block;
}

.none {
    color: #7e7e7e;
    pointer-events: none;
    user-select: none;
}
form .none a {
    color: #7e7e7e;
}
form .none .text {
    border-color: #7e7e7e;
}
.none .hover:hover > .info {
    display: none;
}
