<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enkavak Official Government Website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="flag">
            <img src="/resources/flag.svg" width="130" height="80" />
        </div>
        <div class="country-names">
            <h1 class="primary">Enkavak</h1>
            <h1><span class="laev"></span></h1>
            <h1>Republica Atlantica</h1>
            <h1>Res Publica Enrava</h1>
            <h1>Αὐτοκρατίας Ἇκτικής</h1>
        </div>
        <div class="languages" id="lang">
            <a href="/lv/">LV</a>
            <a href="/de/">DE</a>
            <a href="/lat/">LAT</a>
            <a href="/gr/">GR</a>
            <a href="/en/">EN</a>
        </div>
    </header>

    <nav class="menu">
        <a href="/">Home</a>
    </nav>

    <div class="content">
        <h1>Error</h1>
        <p>You have either entered the wrong citizenship id or the wrong voting number or you have tried to vote a second time!</p>
    </div>

    <footer>
        <p>&copy; 2025 Enkavak</p>
    </footer>
</body>
</html>
