<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data['t5'][lang] }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <nav class="menu">
        <a href="..">{{ data['m#'][lang] }}</a>
        <a href="../elections">{{ data['m9'][lang] }}</a>
    </nav>

    <div class="content">
        <h2>{{ data['elec-none0'][lang] }}</h2>
        <p><span>{{ data['elec-none1'][lang] }} {{ date }}</span>
    </div>

    <footer>
        <p>&copy; 2025 Enkavak</p>
    </footer>
</body>
</html>
