<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data['t5'][lang] }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form-style.css">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <nav class="menu">
        <a href="../">{{ data['m#'][lang] }}</a>
        <a href="../embassies">{{ data['m8'][lang] }}</a>
    </nav>

    <div class="content">
        <fieldset>
            <legend><h3>{{ data['emb-f0'][lang] }}</h3></legend>
            <form id="form" action="/embassies/reg" method="post" enctype="multipart/form-data">
                <div class="wrapper">
                    <div>
                        <label for="country">{{ data['emb-f1'][lang] }}</label>
                        <input type="text" name="country" required></input>
                    </div>
                    <div>
                        <label for="name">{{ data['emb-f2'][lang] }}</label>
                        <input type="text" name="name" required></input>
                    </div>
                </div>
                <div>
                    <label for="address">{{ data['emb-f3'][lang] }}</label>
                    <input type="text" name="address"></input>
                </div>
                <button type="submit" value="apply" class="submit-button">{{ data['rf0'][lang] }}</button>
            </form>
        </fieldset>
    </div>

    <footer>
        <p>&copy; 2025 Enkavak</p>
    </footer>
</body>
</html>
