<div class="flag">
    <img src="/resources/flag.svg" width="130" height="80" />
</div>
<div class="country-names">
    <h1 class="primary" >{{ data['t0'][lang] }}</h1>
    <h1>{{ data['t1'][lang] }}</h1>
    <h1>{{ data['t2'][lang] }}</h1>
    <h1>{{ data['t3'][lang] }}</h1>
    <h1>{{ data['t4'][lang] }}</h1>
</div>
<div class="languages" id="lang">
    <a href="/lv/{{ path }}">LV</a>
    <a href="/de/{{ path }}">DE</a>
    <a href="/lat/{{ path }}">LAT</a>
    <a href="/gr/{{ path }}">GR</a>
    <a href="/en/{{ path }}">EN</a>
</div>
